table {
    border-collapse: collapse;
    border: 1px solid black;
    letter-spacing: 1px;
}

th,
td {
    border: 1px solid black;
    padding: 8px 12px;
    text-align: center;
}

thead th,
tfoot th,
tfoot td {
    border-right: 1px solid white;
    background-color: black;
    color: white;
    font-weight: 700;
}